input,select,textarea{
	font-family:Tahoma;
	font-size:11px;
	padding-left:3px;
	padding-right:3px;
	padding-bottom:3px;
	padding-top:3px;
	border:1px solid #666;
	margin-top:2px;
}
.input{
	font-family:Tahoma;
	font-size:11px;
	border:1px solid #666;
	height:20px;
	font-weight:bold;
	color:#333333;
	padding-top:3px;
	padding-bottom:3px;
	margin-top:2px;
}
.textarea{
	font-family:Tahoma;
	font-size:11px;
	border:1px solid #666;
	font-weight:bold;
	color:#333333;
	padding:3px;
	margin-top:2px;
}.button{
	font-size:12px;
	padding:5px;
	border:1px solid #666;
	margin-top:4px;
	color:#333333;
	font-weight:bold;
	background-image:url(../images/button_bg1.jpg);
	background-repeat:repeat-x;
}