
input,select{
	font-family:Tahoma;
	font-size:11px;
	border:1px solid #ddd;
	background-color:#FFF;
	height:20px;
	font-weight:bold;
	color:#333333;
	padding-top:3px;
	margin-top:2px;
}
.input{
	font-family:Tahoma;
	font-size:11px;
	border:1px solid #ddd;
	background-color:#FFF;
	height:20px;
	font-weight:bold;
	color:#333333;
	padding-top:3px;
	margin-top:2px;
}
.textarea{
	font-family:Tahoma;
	font-size:11px;
	border:1px solid #ddd;
	background-color:#FFF;
	font-weight:bold;
	color:#333333;
	padding-top:3px;
	margin-top:2px;
}.button{
	font-family:Tahoma;
	font-size:11px;
	background-image:url(../images/button_bg.jpg);
	background-repeat:repeat-x;
	padding-left:5px;
	padding-right:5px;
	background-color:#e3e3e3;
	height:28px;
	margin-top:2px;
	vertical-align:bottom;
	border:1px solid #ddd;
	color:#333;
	font-weight:bold;
}