.input{
	font-family:Tahoma;
	font-size:11px;
	border:1px solid #000;
	height:20px;
	font-weight:bold;
	color:#333333;
	margin-top:2px;
	padding-left:3px;
	padding-right:3px;
}
input,select{
	font-family:Tahoma;
	font-size:11px;
	padding-left:3px;
	padding-right:3px;
	border:1px solid #e2e2e2;
	margin-top:2px;
}
textarea{
	font-family:Tahoma;
	font-size:11px;
	padding-left:3px;
	padding-right:3px;
	border:1px solid #e2e2e2;
	margin-top:2px;
}
.textarea{
	font-family:Tahoma;
	font-size:11px;
	border:1px solid #000;
	font-weight:bold;
	color:#333333;
	padding:3px;
	margin-top:2px;
}.button{
	font-family:Tahoma;
	font-size:11px;
	background-image:url(../images/button_bg.jpg);
	background-repeat:repeat-x;
	padding-left:5px;
	padding-right:5px;
	border:1px solid #175796;
	margin-top:4px;
	color:#000;
	font-weight:bold;
}