.homeTabActive{
	background-image:url(../images/bg_tab_active.jpg);
	background-repeat:repeat-x;
	height:25px;
	font-weight:bold;
	color:#313f48;
	border-top:1px solid #333333;
	border-left:1px solid #333333;
	border-right:1px solid #333333;
	border-bottom:0px;
	cursor:pointer;
	padding-left:5px;
	padding-top:3px;
}.homeTabInactive{
	background-image:url(../images/bg_tab_inactive.jpg);
	background-repeat:repeat-x;
	background-position:bottom;
	height:25px;
	font-weight:bold;
	color:#FFFFFF;
	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #333333;
	cursor:pointer;
	padding-left:5px;
	padding-top:3px;
}.homeTabInactive:hover{
	background-image:url(../images/bg_tab_active.jpg);
	background-repeat:repeat-x;
	background-position:bottom;
	height:25px;
	font-weight:bold;
	color:#313f48;
	border-top:1px solid #FFFFFF;
	border-bottom:1px solid #333333;
	cursor:pointer;
	padding-left:5px;
	padding-top:3px;
}