.loginTitle{
	display:none;
}
.userPanelTitle{
	background-image:url(../../shopazmn/images/talbar_title_bg_blue.jpg);
	background-repeat:repeat-y;
	background-position:right;
	background-color:#158eff;
	height:22px;
	color:#FFFFFF;
	font-weight:bold;
	padding-left:25px;
	padding-top:2px;
}.loginTBL{
}