#contentCommentForm{
	display:none;
}
#commentsTitle{
	padding:3px;
	background-color:#f7941c;
	color:#ffffff;
	font-weight:bold;
	display:block;

}

.comments_name{
	margin-top:10px;
	font-weight:bold;
	color:#333333;
	background-color:#eeeeee;
	padding:3px;
}
.comments_mbmTimeConverter{
	color:#cccccc;
}

.commentsContent{
	margin-bottom:10px;
	display:block;
	padding-top:5px;
	width:440px;
	height:150px

}
.commentsTextarea{
	width:300px;
}