#jetonRow1 div{
	width:840px;
	float:left;
	text-align:center;
}
#jetonRow2 div{
	width:410px;
	float:left;
	text-align:center;
}
#jetonRow3 div{
	width:200px;
	float:left;
	text-align:center;
	
}
#jetonRow4 div{
	width:95px;
	float:left;
	text-align:center;
	
}