.bg_norepeat{
	background-repeat:no-repeat;
}.bg_repeatx{
	background-repeat:repeat-x;
}.bg_repeaty{
	background-repeat:repeat-y;
}
#talbarRight{
	float:right;
	width:380px;
	display:block;
}
#talbarLeft{
	float:left;
	width:520px;
	display:block;
}
.titleRight{
	background-image:url(../images/titleRight.png);
	background-repeat:no-repeat;
	padding-top:15px;
	padding-left:10px;
	color:#FFF;
	width:308px;
	display:block;
	margin-bottom:10px;
	margin-top:20px;
	height:30px;
}
.contentRight{
	display:compact;
}
.titleY{
	background-image:url(../images/title_bg1.jpg);
	background-repeat:repeat-x;
	padding-bottom:6px;
	padding-left:28px;
	padding-top:7px;
	padding-right:10px;
	display:block;
	border:1px solid #dea303;
	margin-top:3px;
	font-weight:bold;
}
.contentY{
	border-left:1px solid #dea303;
	border-right:1px solid #dea303;
	border-bottom:1px solid #dea303;
	padding:5px;
	background-color:#FFF;
	display:block;
}