#azmnWeather{
    text-align:left;
    width:200px;
    height:175px;
    color:#333;
    padding:5px;
	/*
    background-color:#fff9c1;
    border:1px solid #ecc101;
	*/
	margin-bottom:6px;
}
#WeatherTitle{
    color:#000000;
    font-weight:bold;
}
#WeatherBox{
    color:#000000;
}#WeatherBox img {
    float:left;
}#WeatherBox a:link,#WeatherBox a:visited {
    float:left;
    font-weight:bold;
    color:#999999;
} 