
#topmenu li {
	display: inline;
	list-style: none;
}
#topmenu li a {
	margin-right: 5px;
	font-size: 15px;
	text-decoration: none;
	color: #f2f2f2;
	font-family: Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	font-weight: bold;
	padding: 10px;
	outline: 0;
	position: relative;
	top: -2px;
}
#topmenu li a:hover, #topmenu li a.active {
	background: #514539;
}
#sub-link-bar {
	background: #514539;
	min-height: 10px;
	border-bottom: #645546 1px solid;
}
.sub-links {
	display: none;
	position: absolute;
	width: 100%;
	top: -30px;
	text-align: left;
	left: 0px;
}
#topmenu li .sub-links li a:hover{
	background: #2d2620;
}
#topmenu li a.close{
	display: none;	
	position: absolute;
}
#topmenu li a.close:hover{
	background: #900;
}
