.title_g{
	background-image:url(../images/talbar_bg.jpg);
	background-repeat:repeat-x;
	padding-top:5px;
	padding-bottom:7px;
	height:11px;
	border: 1px solid #b9cb9b;
	color:#03720b;
	font-weight:bold;
	padding-left:10px;
}
.talbar_g{
	padding:5px;
	border-left:1px solid #b9cb9b;
	border-right:1px solid #b9cb9b;
	border-bottom:1px solid #b9cb9b;
	margin-bottom:6px;
}